In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Ridge
from sklearn.neighbors import KNeighborsRegressor,KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.metrics import accuracy_score, roc_auc_score, roc_curve,mean_squared_error,r2_score,precision_score,recall_score,f1_score

In [12]:
df=pd.read_csv(r"C:\Users\malar\OneDrive\Desktop\AI Workforce\Crop Prediction\yield_df.csv")
df = df.drop(df.columns[0], axis=1)  
df

,Area,Item,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp
0,Albania,Maize,1990,36613,1485.0,121.00,16.37
1,Albania,Potatoes,1990,66667,1485.0,121.00,16.37
2,Albania,"Rice, paddy",1990,23333,1485.0,121.00,16.37
3,Albania,Sorghum,1990,12500,1485.0,121.00,16.37
4,Albania,Soybeans,1990,7000,1485.0,121.00,16.37
...,...,...,...,...,...,...,...
28237,Zimbabwe,"Rice, paddy",2013,22581,657.0,2550.07,19.76
28238,Zimbabwe,Sorghum,2013,3066,657.0,2550.07,19.76
28239,Zimbabwe,Soybeans,2013,13142,657.0,2550.07,19.76
28240,Zimbabwe,Sweet potatoes,2013,22222,657.0,2550.07,19.76
28241,Zimbabwe,Wheat,2013,22888,657.0,2550.07,19.76

In [13]:
nul=df.isnull().sum()
nul

Area                             0
Item                             0
Year                             0
hg/ha_yield                      0
average_rain_fall_mm_per_year    0
pesticides_tonnes                0
avg_temp                         0
dtype: int64

In [14]:
dup=df.duplicated().sum()
dup

np.int64(2310)

In [15]:
df = df.drop_duplicates()

In [16]:
df = df[~df["Item"].str.contains("and|,", case=False, na=False)]

In [17]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df[["average_rain_fall_mm_per_year", "pesticides_tonnes", "avg_temp"]] = scaler.fit_transform(
    df[["average_rain_fall_mm_per_year", "pesticides_tonnes", "avg_temp"]]
)

In [18]:
le_area = LabelEncoder()
le_item = LabelEncoder()

df["Area_encoded"] = le_area.fit_transform(df["Area"])
df["Item_encoded"] = le_item.fit_transform(df["Item"])

In [19]:
df.to_csv("cleaned_data.csv", index=False)